<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
	<form role="search">
		<div class="form-group">
		</div>
	</form>
	<ul class="nav menu">
		<li class="active"><a href="/admin"><svg class="glyph stroked dashboard-dial" fill="currentColor">
					<use xlink:href="#stroked-dashboard-dial"></use>
				</svg> Dashboard</a></li>
		<li><a href="/admin/users"><svg class="glyph stroked male user ">
					<use xlink:href="#stroked-male-user" />
				</svg>Quản lý thành viên</a></li>
		<li><a href="/admin/categories"><svg class="glyph stroked open folder">
					<use xlink:href="#stroked-open-folder" />
				</svg>Quản lý danh mục</a></li>
		<li><a href="/admin/products"><svg class="glyph stroked bag">
					<use xlink:href="#stroked-bag"></use>
				</svg>Quản lý sản phẩm</a></li>
		<li><a href="/admin/comments"><svg class="glyph stroked two messages">
					<use xlink:href="#stroked-two-messages" />
				</svg> Quản lý bình luận</a></li>
		<li><a href="/admin/sidebars"><svg class="glyph stroked chain">
					<use xlink:href="#stroked-chain" />
				</svg> Quản lý quảng cáo</a></li>
		<li><a href="/admin/slides"><svg class="glyph stroked chain">
					<use xlink:href="#stroked-chain" />
				</svg> Quản lý khuyến mãi</a></li>
		<li><a href="/admin/order"><svg xmlns="http://www.w3.org/2000/svg" style="margin-right:12px" width="16" height="16"
					fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
					<path
						d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
				</svg>Quản lý đơn hàng</a></li>
	</ul>

</div>
<!--/.sidebar-->