<div id="sidebar" class="col-lg-4 col-md-12 col-sm-12">
  <div id="banner">
    <%for(x in sideBars){%>
      <div class="banner-item">
        <a href="#"><img class="img-fluid" src="/static/images/<%=sideBars[x].thumbnail%>"></a>
      </div>
      <%}%>
  </div>
</div>