<div class="col-md-8" style="margin-top: 16px;">
    <span style="color: blue !important;;"><b>Ưu tiên xem: </b></span>
    <div class="btn-group">
        <a class="btn btn-outline-secondary" data-value="ban-chay-nhat">Sản phẩm mới</a>
        <a class="btn btn-outline-secondary" data-value="gia-thap-den-cao">Giá thấp</a>
        <a class="btn btn-outline-secondary" data-value="gia-cao-den-thap">Giá cao</a>
    </div>
</div>
<!-- <div class="cdt-grid-list col-md-4">
        <label class="cdt-dropdown">
            <div class="cdt-dropdown-button">Giá cao</div>
            <ul class="cdt-dropdown-menu">
                <li class="frowitem sort sortdefault" data-value="ban-chay-nhat">Bán chạy nhất</li>
                <li class="frowitem sort" data-value="tra-gop-0">Trả góp 0%</li>
                <li class="frowitem sort" data-value="gia-thap-den-cao">Giá thấp</li>
                <li class="frowitem sort active" data-value="gia-cao-den-thap">Giá cao</li>
                <li class="frowitem sort" data-value="uu-dai-online">Ưu đãi online</li>
            </ul>
        </label>
        <span class="icon-th-layout active"></span>
        <span class="icon-th-list"></span>
    </div> -->