<!DOCTYPE html>
<html>

<head>
    <%-include('../layout/head.ejs',{title:"Quan Sản Phẩm"})%>
</head>

<body>
    <%-include('../layout/header.ejs')%>
    <%-include('../layout/sidebar.ejs',{status:"user"})%>

            <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
                <div class="row">
                    <ol class="breadcrumb">
                        <li><a href="#"><svg class="glyph stroked home">
                                    <use xlink:href="#stroked-home"></use>
                                </svg></a></li>
                        <li><a href="">Quản lý thành viên</a></li>
                        <li class="active">Thêm thành viên</li>
                    </ol>
                </div>
                <!--/.row-->

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Thêm thành viên</h1>
                    </div>
                </div>
                <!--/.row-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-8">
                                    <% if (data && data.error) { %>
                                        <div class="alert alert-danger">
                                            <%=data.error%>
                                        </div>
                                        <% } %>
                                            <form action="/admin/users/store" role="form" method="post">
                                                <div class="form-group">
                                                    <label>Họ & Tên</label>
                                                    <input name="user_full" required class="form-control"
                                                        placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input name="user_mail" required type="email" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label>Mật khẩu</label>
                                                    <input name="user_pass" required type="password" id="ipnPassword"
                                                        class="form-control">                                                
                                                </div>
                                                <div class="form-group">
                                                    <label>Nhập lại mật khẩu</label>
                                                    <input name="user_re_pass" required type="password" id="ipnReElement"
                                                        class="form-control">
                                                        <button class="btn btn-primary" style="margin-top:10px;" type="button" id="btnPassword">
                                                            <i class="icon-eye-open">Hiện thị mật khẩu</i>
                                                          </button>
                                                </div>
                                                <button name="sbm" type="submit" class="btn btn-success">Thêm
                                                    mới</button>
                                                <button type="reset" class="btn btn-default">Làm mới</button>                                                
                                </div>
                                </form>
                            </div>
                        </div>
                    </div><!-- /.col-->
                </div><!-- /.row -->

            </div>
            <!--/.main-->
</body>
<script>
    const ipnElement = document.querySelector('#ipnPassword')
    const ipnReElement = document.querySelector('#ipnReElement')
    const btnElement = document.querySelector('#btnPassword')

    btnElement.addEventListener('click', function () {
        // step 3
        const currentType = ipnElement.getAttribute('type')
        const currentReType = ipnElement.getAttribute('type')

        // step 4
        ipnElement.setAttribute(
            'type',
            currentType === 'password' ? 'text' : 'password'
        )
        ipnReElement.setAttribute(
            'type',
            currentReType === 'password' ? 'text' : 'password'
        )
    })
</script>

</html>